body {
  background-color: #90ee90;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  color: #006B00;
  text-align: center;
}

table {
  border: 2px solid darkgreen;
  width: 650px;
  margin: 0 auto;
}

thead {
  background-color: greenyellow;
}

td {
  border-top: 1px solid darkgreen;
}

.code {
  font-family: monospace;
  background-color: lightgray;
  text-align: center;
}